* {
    box-sizing: border-box;
}

#login-page-container {
    width: 40%;
    height: 60%;
    border-radius: 10px;
    margin-top: 5em;
    background-color: #E1C299;
}

#login-page-jumbotron {
    margin: 0;
    padding: 3rem;
    background-color: #E1C299;
}

#btn-submit-login {
    text-align: center;
}

#login-title {
    margin: 0;
    padding-bottom: 1rem;
    padding-top:0;
    font-family: 'Shrikhand', cursive;
}

#login-btn {
    border-width: 0;
    background-color: rgb(25, 25, 73);
    border-radius: 4px;
}