div.react-calendar {
    margin-top: 2rem;
    margin-right: 10em;
    margin-left: 2rem; 
    
}

#main-footer {
    padding-top: 1rem;
    padding-left: 1rem;
    color: white;
    background-color: #E1C299;
    padding-bottom: 1rem;
}