* {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

div.react-calendar {
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    padding-left: 0;
}

#main-footer {
    padding-top: 1rem;
    padding-left: 1rem;
    color: white;
    background-color: #E1C299;
    padding-bottom: 1rem;
}

#info-btn, #appt-btn, #prescrip-btn, #pharm-btn, #message-btn {
    background-color: rgb(25, 25, 73);
    border-style: none;
}

#info-btn:hover, #appt-btn:hover, #prescrip-btn:hover, #pharm-btn:hover, #message-btn:hover {
    background-color: #E1C299;
    color: rgb(25, 25, 73);
}