div#medical-header {
    background-color: #E1C299;
    color: rgb(25, 25, 73);
}

#medical-header-1 {
    border-style: solid;
    border-width: 1px;
}

#medinfo {
    margin-left: 1rem;
}

#edit-btn, #save-btn {
    background-color: rgb(25, 25, 73);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    border-style: none;
}

#edit-allergy, #return-dashboard {
    background-color: rgb(25, 25, 73);
    margin-left: 2.5rem;
    margin-bottom: 1rem;
    border-style: none;
}

#edit-allergy:hover, #return-dashboard:hover {
    background-color: #E1C299;
    color: rgb(25, 25, 73);
}