
#return-btn {
    background-color: rgb(25, 25, 73);
    margin-bottom: 1rem;
    margin-left: 11rem;
    border-style: none;
}

#return-btn:hover {
    background-color: #E1C299;
    color: rgb(25, 25, 73);
}

#appt-h {
    background-color: #E1C299;
    color: rgb(25, 25, 73);
    width: 100%;
}

#appt-view {
    color: rgb(25, 25, 73);
}

#badge-upcoming, #badge-past {
    background-color: rgb(25, 25, 73);
    color: white;
}

#appt-card, #appt-card-past {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}