* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

#welcome-page-container {
    width: 40%;
    height: 60%;
    border-radius: 10px;
    margin-top: 5em;
    background-color: bisque;
}

#welcome-page-jumbotron {
    background-color: bisque;
}


#btn-register, #btn-login {
    border-width: 0;
    background-color: rgb(25, 25, 73);
    border-radius: 4px;

}
