* {
    box-sizing: border-box;
    /* font-family: 'Open Sans', sans-serif; */
}

#gtcam-logo-welcome {
    width: 150px;
    height: 150px;
    background-size: contain;
    background-image: url('../img/logo.jpg');

}

#welcome-page-container {
    width: 40%;
    height: 60%;
    border-radius: 10px;
    margin-top: 5em;
    background-color: white;
}

#welcome-page-jumbotron {
    background-color: white;
}


#btn-register, #btn-login {
    border-width: 0;
    background-color: rgb(25, 25, 73);
    border-radius: 4px;

}
