
#main-nav {
    background-color: bisque;
    color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#brand-name {
    padding-left: 1rem;
    padding-top: 2em;
    font-size: 2rem;
    font-style: italic;
    font-weight: 300;
    font-family: 'Rubik', sans-serif;
}

#links-list {
    display: inline;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: fit-content; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 2; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: rgb(25, 25, 73); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

#profile-pic {
    width: 4rem;
    height: 4rem;
    background-image: image('.../img/placehold.png');
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 0.9rem;
    color: white;
    display: block;
  }

