#gtcam-logo-container {
    width: 150px;
    height: 150px;
    background-image: url('../img/logo.jpg');
    background-size: contain;
    padding: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

#top-nav {
    padding: 0;
}

#nav-container {
    padding-right: 0;
    padding-left: 0;
    margin-right:0;
}

.nav-list-item {
    color: white;
    padding-left: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-right: 1rem;
}

.nav-list-item a {
    color: white;
}

.nav-list-item a:hover {
    color: #E1C299;
}

#navbarNav {
    padding-top: 0.5rem;
    padding-left: 0;
    color: white;
    font-family: 'Slabo 27px', serif;
    background-color:  rgb(25, 25, 73);
    padding-bottom: 0.5rem;
    margin-right: 0;
    margin-left: 0;
    justify-content: space-between;
    
}

