#back-pharm, #return-phdash {
    background-color: rgb(25, 25, 73);
    margin-top: 1rem;
    border-style:none;
    margin-left: 2.5rem;
}

#back-pharm:hover, #return-phdash:hover {
    background-color: #E1C299;
    color: rgb(25, 25, 73);
}
