* {
    
}

#appointment-header, #request-header {
    padding: 1rem;
    text-align: center;
}

#return, #makeappt, #editappt {
    background-color: rgb(25, 25, 73);
    margin-bottom: 1rem;
    margin-left: 2.5rem;
    border-style: none;
}

#editappt-return {
    background-color: rgb(25, 25, 73);
    margin-bottom: 1rem;
    border-style: none;
}

#request-submit, #edit-submit, #edit-appt {
    background-color: rgb(25, 25, 73);
    margin-bottom: 1rem;
    border-style: none;
}

#makeappt:hover, #return:hover {
    background-color: #E1C299;
    color: rgb(25, 25, 73);
}

