* {
    
}

#appointment-header, #request-header {
    padding: 1rem;
    text-align: center;
}

#return-dAsh, #makeappt-btn, #editappt {
    background-color: rgb(25, 25, 73);
    margin-bottom: 1rem;
    margin-left: 3.5rem;
    border-style: none;
}

#editappt-return {
    background-color: rgb(25, 25, 73);
    margin-bottom: 1rem;
    border-style: none;
}

#appt-card {
    margin-bottom: 1rem;
}

#request-submit, #edit-submit, #edit-appt {
    background-color: rgb(25, 25, 73);
    margin-bottom: 1rem;
    border-style: none;
}

#makeappt-btn:hover, #return-dAsh:hover {
    background-color: #E1C299;
    color: rgb(25, 25, 73);
}

