* {
    font-family: 'Muli', sans-serif;
}

.card {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

#prescription-header {
    padding: 1rem;
    text-align: center;
}

#prescription-card {
    margin-bottom: 1rem;
}

#return {
    margin-left: 2.5rem;
    background-color: rgb(25, 25, 73);
}